*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
/build
*.net
*.dsn
*.ses
*.cmp
*.xml
*.svg
*.csv
*.zip
*.tsv
*.pdf
*.log
*.raw
.svg2shenzhen-cache
